.replit
replit.nix
*.class
*.jar
sometoken.txt
.DS_STORE
*.devp
*.jbox
*.json
.classpath
.project
.idea
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
etc
package.bat
!UnitTest.devp